// Global border classes

@import "../config/helpers";
@import "../config/borders";

// border width, e.g. '.thick'
@each $name, $width in $border-widths {
  .#{$name} {
    border-width: $width !important;
  }
}

// default border on all sides
.default {
  @include border;

  // border style, e.g. '.default.secondary'
  @each $name, $style in $border-styles {
    @if ($name != "default") {
      &.#{$name} {
        border-style: $style;
      }
    }
  }
}

// default border on a given side, e.g. .top
@each $side in $sides {
  .#{$side} {
    @include border($side);

    // border style, e.g. '.top.secondary'
    @each $name, $style in $border-styles {
      @if ($name != "default") {
        &.#{$name} {
          border-#{$side}-style: $style;
        }
      }
    }
  }
}

// round corners
.round {
  border-radius: $border-radius;
}
