// Global type utilities

@import '../config/helpers';
@import '../config/scale';
@import '../config/type';

// --- weight, style, and typeface ---------------------------------------------

// modify the weight and style of the default font
.bold,
strong {
  @include font($weight: bold);

  em {
    @include font($style: italic);
  }
}

.regular {
  @include font();
}

.italic,
em {
  @include font($style: italic);

  &.bold,
  strong {
    @include font($weight: bold, $style: italic);
  }
}

// display font
.display {
  @include font('display');

  &.light {
    @include font('display', $weight: light);
  }

  &.bold,
  strong {
    @include font('display', $weight: bold);

    em {
      @include font('display', $style: italic);
    }
  }

  &.italic,
  em {
    @include font('display', $style: italic);

    &.light {
      @include font('display', $weight: light, $style: italic);
    }

    &.bold,
    strong {
      @include font('display', $weight: bold, $style: italic);
    }
  }
}

// body font
.body {
  @include font('body');

  &.bold {
    @include font('display', $weight: bold);
  }

  &.italic {
    @include font('display', $style: italic);

    &.bold {
      @include font('display', $weight: bold, $style: italic);
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

// --- leading -----------------------------------------------------------------

@each $name, $height in $leading {
  .leading#{capitalize($name)} {
    line-height: $height;
  }
}

// --- alignment ---------------------------------------------------------------

.centered {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

// --- scale -------------------------------------------------------------------

.scaleDefault {
  @include type-size-default;
}

.scaleAlpha {
  @include type-fluid(font-size, 'gamma', 'alpha');
  letter-spacing: -0.02em;
}

.scaleBeta {
  @include type-fluid(font-size, 'gamma', 'beta');
}

.scaleGamma {
  @include type-fluid(font-size, 'delta', 'gamma');
}

.scaleDelta {
  @include type-fluid(font-size, 'epsilon', 'delta');
}

.scaleEpsilon {
  font-size: scale-type('epsilon');
}

.scaleZeta {
  font-size: scale-type('zeta');
}

.scaleEta {
  font-size: scale-type('eta');
}

// --- position ----------------------------------------------------------------
// -> align text, e.g. .center

@each $side in [center, left, right] {
  .#{$side)} {
    text-align: $side;
  }
}
