@import '~styleConfig/color';
@import '~styleConfig/scale';
@import '~styleConfig/borders';

@mixin icon-spacing($size) {
  &.hasIconLeft {
    padding-left: $size;
  }

  &.hasIconRight {
    padding-right: $size;
  }
}

.default {
  $c: 'primary';
  composes: default from 'styles/animation.scss';
  composes: bold from 'styles/type.scss';
  @include border($w: 'medium', $color: $c);
  @include icon-spacing(1.1em);
  background-color: transparent;
  border-radius: 0.3em;
  color: color('primary');
  cursor: pointer;
  display: inline-block;
  font-size: scale-type('epsilon');
  line-height: 1;
  padding: 0.8em 1.6em;
  text-decoration: none;

  &:hover,
  &:focus {
    @include border($w: 'medium'); // override base anchor styles
    border-color: color($c, $grade: 20);
    color: color($c, $grade: 20);
  }

  &:active {
    @include border($w: 'medium'); // override base anchor styles
    border-color: color($c, $grade: -10);
    color: color($c, $grade: -10);
  }

  // reversed colors for dark backgrounds
  &.reverse {
    color: color('white');
    border-color: color('white');

    &:hover,
    &:focus,
    &:active {
      border-color: color('white');
      color: color('white');
    }
  }

  // hide buttons in print b/c interactive elements are useless there
  @media print {
    display: none;
  }
}

.large {
  @include icon-spacing(1.8em);
  font-size: scale-type('delta');
  padding: 1em 2.4em;
}

.small {
  @include icon-spacing(0.9em);
  font-size: scale-type('zeta');
  padding: 0.6em 1.2em;
}

.regular {
  composes: regular from 'styles/type.scss';
}

.primary {
  $bgcolor: 'primary';
  $fgcolor: 'white';
  background-color: color($bgcolor);
  border-color: color($bgcolor, $grade: -10);
  color: color($fgcolor);

  &:hover,
  &:focus {
    background-color: color($bgcolor, $grade: 10);
    border-color: color($bgcolor, $grade: 0);
    color: color($fgcolor);
  }

  &:active {
    background-color: color($bgcolor, $grade: -10);
    border-color: color($bgcolor, $grade: -10);
    color: color($fgcolor);
  }

  // reversed colors for dark backgrounds
  &.reverse {
    color: color($bgcolor);
    border-color: color($fgcolor);
    background-color: color($fgcolor);

    &:hover,
    &:focus,
    &:active {
      color: color($bgcolor);
      border-color: color($fgcolor);
      background-color: color($fgcolor);
    }
  }
}

.iconLeft {
  margin-right: 0.35em;
}

.iconRight {
  margin-left: 0.35em;
}
